
<h3> Aanwezigheid: {{class}} </h3>

<div class="jumbotron">
<div id ="StudentDiv">
    <p id = "StudentenP"> Student1 </p>
    <input type="checkbox" id = "AanwezigCheckbox"/>
</div>
<div id ="StudentDiv">
    <p id =StudentenP> Student2 </p>
    <input type="checkbox" id = "AanwezigCheckbox"/>
</div>
<div id = "StudentDiv">
    <p id ="StudentenP">Student3 </p>
    <input type="checkbox" id = "AanwezigCheckbox"/>
</div>
<div id = "StudentDiv">
    <p id ="StudentenP" > Student4 </p>
    <input type="checkbox" id = "AanwezigCheckbox"/>
</div>
<Button> Submit </Button>
</div>